[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

max_allowed_packet=300M

thread_cache_size=25
query_cache_size=25165824

innodb_buffer_pool_size=10G
slow_query_log=ON
slow_query_log_file=server-slow.log
long_query_time=0.1
log-queries-not-using-indexes

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
